* {
    /*Le quita el margen por default de todas las etiquetas con el selector "*" */
    margin: 0;
    /*Le quita el padding por default de todas las etiquetas con el selector "*" */
    padding: 0;
    /*Hace que todas las etiquetas al agregar cualquier proppiedad haga que crezca la etiqueta sino que ocupa espacio de forma interna con las medidas agregadas  con el selector "*" */
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #021826;
    margin: 0;
    padding: 0;
    color: #CBC8C4;
}

h1 {
    margin: 0;
    font-size: 130%;
}

header,
nav,
.bienvenida h2,
.contenido-menu-pizzas,
.contenido-promociones,
footer,
.contenido-contacto,
.menuNavegacion{
    text-align: center;
}


/* Estilos del encabezado */
header {
    background-color: #021826;
    padding-bottom: 1%;
}

.logo-pizza {
    width: 12%;
}

/* Estilos para el menú de navegación */
nav {
    background-color: #6c0b09;
    padding: 10px;
}

nav a {
    color: #CBC8C4;
    text-decoration: none;
    margin: 0 15px;
}

.menuNavegacion{
    font-size: 115%;
}

/* Estilos para el contenedor de bienvenida */
.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1000px;
    margin: 25px auto;
}

#pizzaImg {
    width: 110%;
    border-radius: 6%;
    display: block;
}

/* Estilos para el texto superpuesto */
.bienvenida h2,
.bienvenida p {
    padding: 10px;
    position: absolute;
    transform: translate(116%, -5%);
    width: 50%;
    font-size: 110%;
}

/* Estilos para los párrafos superpuestos */
.bienvenida h2 { top: -1%; font-size: 150%; }
.p1-bienvenida { top: 7%;  }
.p2-bienvenida { top: 36%; }
.p3-bienvenida { top: 53%; }
.p4-bienvenida { top: 74%; }

/* Estilos para el contenido principal */
.contenido-menu-pizzas {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #021826;
    border-radius: 5px;
    font-size: 90%;
}

.contenido-menu-pizzas h3{
    font-size: 200%;
    padding-left: 14%;
    padding-bottom: 2%;
}

.contenido-menu-pizzas img {
    width: 178px;
    height: auto;
}

.pizzas-Especialidades{
    display: flex;
    width: 108%;
}

.contenido-promociones{
    font-size: 80%;
    padding-bottom: 2%;
}

/* Estilos para el pie de página */
footer {
    background-color: #021826;
    padding: 10px;
}

.redes-sociales img{
    max-width: 3%;
}



/* Media query para pantallas más pequeñas */
@media (max-width: 799px) {

    header {
        padding-left: 0%;
        padding-right: 1%;
        padding-bottom: 1%;
    }

    .logo-pizza {
        max-width: 20%;
    }

    nav {
        padding-left: 1%;
    }

    h1 {
        margin: 0;
        font-size: 150%;
    }

    .menuNavegacion {
        font-size: 100%;
        display: flex;
        justify-content: center;
    }

    .bienvenida h2,
    .bienvenida p {
        left: 28%;
        transform: translate(0, 0);
        font-size: 85%;
        width: 46%;
    }

    #pizzaImg {
        width: 90%;
        margin: 0 auto;

    }

    .bienvenida h2 { top: 0%; font-size: 120%; width: 43%; }
    .p1-bienvenida { top: 4%; }
    .p2-bienvenida { top: 18%; }
    .p3-bienvenida { top: 25%; }
    .p4-bienvenida { top: 34%; }

    .contenido-menu-pizzas h3{
        font-size: 170%;
        padding-left: 2%;
    }
    
    .pizzas-Especialidades {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .pizza{
        padding-top: 3%;
    }

    .pizza p{
        width: 100%;
        font-size: 120%;
    }

    .pizza h4{
        font-size: 140%;
        padding-top: 1%;
    }

    .contenido-promociones {
        font-size: 100%;
        padding-bottom: 4%;
    }

    .redes-sociales{
        width: 100%px;
        height: 20%px;
    }

    .redes-sociales img{
        max-width: 8%;
    }
}

@media (max-width: 379px) {
    header {
        padding-left: 1%;
        padding-bottom: 1%;
    }

    .logo-pizza {
        max-width: 20%;
    }

    nav {
        padding-left: 4%;
    }

    h1 {
        margin: 0;
        font-size: 100%;
    }

    .menuNavegacion {
        font-size: 85%;
    }

    .texto-bienvenida p{
        padding-left: 8%;
    }

    .contenido-menu-pizzas h3{
        padding-bottom: 0%;
        font-size: 140%;
        padding-left: 3%;
    }
    
    .pizzas-Especialidades {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .pizzas-Especialidades img {
        padding-top: 8%;
        padding-bottom: 2%;
    }

    #pizzaImg {
        width: 90%;
    }

    .bienvenida h2,
    .bienvenida p {
        width: 94%;
        left: 0;
        transform: translate(0, 0);
        font-size: 72%;

    }

    .bienvenida h2 { top: -1%; font-size: 95%; padding-left: 8%; }
    .p1-bienvenida { top: 3%; }
    .p2-bienvenida { top: 17%; }
    .p3-bienvenida { top: 24%; }
    .p4-bienvenida { top: 33%; }

    .contenido-promociones,
    .contenido-contacto {
        padding-bottom: 10%;
      }

    .redes-sociales{
        padding-top: 2%;
        width: 100%;
        height: 40px;
    }

    .redes-sociales img{
        width: 12%;
    }
}
