header {
    background-color: #021826; /* Encabezado */
    color: #CBC8C4; /* Texto del encabezado */
    text-align: center;
    padding: 20px;
}

header img {
    width: 150px;
    height: 120px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #021826; /* Fondo principal */
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.bienvenida{
    display: flex; /* Utiliza Flexbox para disposición */
    position: relative; /* Establece el contexto de posición para los elementos hijos */
    max-width: 1000px;
    color: #CBC8C4;
    margin:25px auto;
}

.bienvenida img {
    width: 1000px;
    border-radius: 6%; /* Aplica un borde redondo del 50% del tamaño de la imagen */
}

.bienvenida h2,
.bienvenida p {
    position: absolute; /* Permite posicionar los elementos de manera absoluta */
    transform: translate(-100%, -33%); /* Centra los elementos correctamente */
    width: 450px;
}

.bienvenida h2 {
    top: 8%; /* Mueve los elementos hacia el centro verticalmente */
}

.p1-bienvenida{
    top: 21%; /* Mueve los elementos hacia el centro verticalmente */
}

.p2-bienvenida{
    top: 41%; /* Mueve los elementos hacia el centro verticalmente */
}

.p3-bienvenida{
    top: 55%; /* Mueve los elementos hacia el centro verticalmente */
}

.p4-bienvenida{
    top: 73%; /* Mueve los elementos hacia el centro verticalmente */
}

.contenido {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    color: #CBC8C4;
}

.contenido img {
    width: 250px;
    height: 250px;
}

#linea img {
width: 1099px;
height: 134px;
display: flex;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#menu {
    text-align: center;
}

#inicio {
    text-align: center;
}

#promociones {
    text-align: center;
}

.pizzasEspecialidades{ 
    display: flex;
}

.pizza {
    max-width: 300px;
    margin:25px auto;
    padding: 20px;
    background-color: #021826; /* Fondo del contenido */
    border-radius: 5%;
    color: #CBC8C4;

}

.redes-sociales img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#llave img {
    width: 50px;
    height: 70px;
}

/* Estilos para el menú de navegación */
nav {
    background-color: #730202; /* Fondo del menú de navegación */
    color: #CBC8C4; /* Texto del menú de navegación */
    text-align: center;
    padding: 10px;
}

nav a {
    color: #CBC8C4; /* Enlaces del menú de navegación */
    text-decoration: none;
    margin: 0 15px;
}

/* Estilos para el pie de página */
footer {
    background-color: #021826; /* Fondo del pie de página */
    color: #CBC8C4; /* Texto del pie de página */
    text-align: center;
    padding: 10px;
}

@media (max-width: 800px) {
    .pizzasEspecialidades{
        flex-direction: column;
        padding: 0px;
    }

    
  }